---
layout: post

title: Programmers, 구현, 연습문제 중 '123 나라의 숫자'

category: Algorithms
---

### 문제 설명

124 나라가 있습니다. 124 나라에서는 10진법이 아닌 다음과 같은 자신들만의 규칙으로 수를 표현합니다.

1. 124 나라에는 자연수만 존재합니다.
2. 124 나라에는 모든 수를 표현할 때 1, 2, 4만 사용합니다.  

예를 들어서 124 나라에서 사용하는 숫자는 다음과 같이 변환됩니다.

| 10진법 | 123 나라 | 10진법 | 123 나라 |
|--------|----------|--------|----------|
| 1    | 1      | 6    | 14     |
| 2    | 2      | 7    | 21     |
| 3    | 4      | 8    | 22     |
| 4    | 11     | 9    | 24     |
| 5    | 12     | 10   | 41     |

자연수 n이 매개변수로 주어질 때, n을 124 나라에서 사용하는 숫자로 바꾼 값을 return 하도록 solution 함수를 완성해 주세요.

### 제한사항

+ n은 500,000,000이하의 자연수 입니다.

### 입출력 예

| n | result |
|---|--------|
| 1 | 1      |
| 2 | 2      |
| 3 | 4      |
| 4 | 11     |

---

이 문제를 처음보고 알아차리기는 힘들었지만, 10진법을 3진법으로 바꾸는 과정과 유사하다. 3진법으로 바꾸는 과정과 124나라의 숫자를 같이 살펴보자.

| 10 진법  | 3 진법   | 124 나라  |
|----------|----------|-----------|
| 1        | 1        | 1         |
| 2        | 2        | 2         |
| 3        | 10       | 4         |
| 4        | 11       | 11        |
| 5        | 12       | 12        |
| 6        | 20       | 14        |
| 7        | 21       | 21        |
| 8        | 22       | 22        |
| 9        | 100      | 24        |
| 10       | 101      | 41        |
| 11       | 102      | 42        |
| 12       | 110      | 44        |
| 13       | 111      | 111       |

3진법과 비교했을 때 거의 유사하나 10진법의 3의 배수에 해당하는 수일 때마다 달라지는걸 알 수있다.   

124나라의 3이 4로 바뀌기 때문에 10 진법의 수 n을 3진법으로 변환하되, 이 과정에서 3으로 나누어 떨어질 때 0 이아닌 4를 대입하고, 그 다음 차수의 수에도 -1을 해준다.   
  
예를 들어 10을 3진법의 숫자로 변환하는 과정을 먼저 살펴보자.  
  + 10 / 3 = 3 ... 1 
  +  3 / 3 = 1 ... 0    

  101(3)  

다음으로는 124 나라의 숫자로 변환하는 과정을 살펴보자.
  + 10 / 3 = 3 ... 1
  +  3 / 3 = 1 ... 0 ---> 
    + 3 / 3 = 0 ... 4 ( 3으로 나누어 떨어지므로 0을 4로 바꾸고 그 다음차수 수에 1을 뺐다.)
  
  41(124나라)

위 과정을 코드로 나타내면 다음과 같다.

In [ ]:
def solution(n):
    answer = ''
    stk = []
    m = n if n != 3 else 4
    while n > 3:
        m = n % 3
        n = n // 3
         # m이 3으로 나누어 떨어진다면 m을 4로 바꾸고, n에서 1을 빼준다.
        if m == 0:
            m = 4
            n -= 1
        stk.append(m)
        
     # while문을 빠져나온 n이 3일 경우 예외처리 해준다.
    if n == 3:
        n = 4
    stk.append(n)
    while stk:
        answer += str(stk.pop())
    return answer